In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [4]:
df=pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
df=df.drop(["RowNumber","CustomerId","Surname"],axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
le_gender=LabelEncoder()
df["Gender"]=le_gender.fit_transform(df["Gender"])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [9]:
ohe=OneHotEncoder()
geo_encoder=ohe.fit_transform(df[["Geography"]]).toarray()
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [10]:
ohe.get_feature_names_out(["Geography"])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [11]:
geo_encoded_df=pd.DataFrame(geo_encoder,columns=ohe.get_feature_names_out(["Geography"]))
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

Concatenating the encoded column with original dataframe

In [12]:
df=pd.concat([df.drop("Geography",axis=1),geo_encoded_df],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

Saving the encoders and Scalers

In [10]:
with open('le_gender.pkl', 'wb') as file:
    pickle.dump(le_gender, file)

with open('ohe.pkl', 'wb') as file:
    pickle.dump(ohe, file)

dividing the dataset in to independent and dependent(X and Y)

In [13]:
X=df.iloc[:,:-1]
y=df['Exited']
X,y

(      CreditScore  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
 0             619       0   42       2       0.00              1          1
 1             608       0   41       1   83807.86              1          0
 2             502       0   42       8  159660.80              3          1
 3             699       0   39       1       0.00              2          0
 4             850       0   43       2  125510.82              1          1
 ...           ...     ...  ...     ...        ...            ...        ...
 9995          771       1   39       5       0.00              2          1
 9996          516       1   35      10   57369.61              1          1
 9997          709       0   36       7       0.00              1          0
 9998          772       1   42       3   75075.31              2          1
 9999          792       0   28       4  130142.79              1          1

       IsActiveMember  EstimatedSalary  Exited  Geography_France  \
 0                  1        101348.88       1               1.0
 1                  1        112542.58       0               0.0
 2                  0        113931.57       1               1.0
 3                  0         93826.63       0               1.0
 4                  1         79084.10       0               0.0
 ...              ...              ...     ...               ...
 9995               0         96270.64       0               1.0
 9996               1        101699.77       0               1.0
 9997               1         42085.58       1               1.0
 9998               0         92888.52       1               0.0
 9999               0         38190.78       0               1.0

       Geography_Germany
 0                   0.0
 1                   0.0
 2                   0.0
 3                   0.0
 4                   0.0
 ...                 ...
 9995                0.0
 9996                0.0
 9997                0.0
 9998                1.0
 9999                0.0

 [10000 rows x 12 columns],
 0       1
 1       0
 2       1
 3       0
 4       0
        ..
 9995    0
 9996    0
 9997    1
 9998    1
 9999    0
 Name: Exited, Length: 10000, dtype: int64)

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [15]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [14]:
with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

In [16]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ..., -0.50857963,
         1.00150113, -0.57946723],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.50857963,
        -0.99850112,  1.72572313],
       [-0.96147213,  0.91324755, -1.41636539, ...,  1.96626042,
        -0.99850112, -0.57946723],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.96626042,
         1.00150113, -0.57946723],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.96626042,
         1.00150113, -0.57946723],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.50857963,
        -0.99850112,  1.72572313]])

In [17]:
y_train

9254    0
1561    0
1670    1
6087    1
6669    1
       ..
5734    0
5191    0
5390    1
860     1
7270    0
Name: Exited, Length: 8000, dtype: int64

ANN Implementation

In [18]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

WARNING:tensorflow:From d:\MyLearning\annclassification\env\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [19]:
X_train.shape

(8000, 12)

In [20]:
model=Sequential([
    Dense(64,activation="relu",input_shape=(X_train.shape[1],)),
    Dense(32,activation="relu"),
    Dense(1,activation="sigmoid")
])

WARNING:tensorflow:From d:\MyLearning\annclassification\env\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [21]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [22]:
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

WARNING:tensorflow:From d:\MyLearning\annclassification\env\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Setting up tensorboard

In [23]:
log_dir="logs/fit/"+ datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback= TensorBoard(log_dir=log_dir,histogram_freq=1)

Setting up Early Stopping

In [24]:
early_stopping_callback=EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

Training the model

In [25]:
history=model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[tensorflow_callback,early_stopping_callback])

Epoch 1/100
WARNING:tensorflow:From d:\MyLearning\annclassification\env\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\MyLearning\annclassification\env\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 4s 7ms/step - loss: 0.1151 - accuracy: 0.9611 - val_loss: 0.0038 - val_accuracy: 1.0000
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0018 - accuracy: 1.0000 - val_loss: 8.0143e-04 - val_accuracy: 1.0000
Epoch 3/100
250/250 [==============================] - 2s 6ms/step - loss: 5.2239e-04 - accuracy: 1.0000 - val_loss: 3.4076e-04 - val_accuracy: 1.0000
Epoch 4/100
250/250 [==============================] - 1s 6ms/step - loss: 2.5090e-04 - accuracy: 1.0000 - val_loss: 1.8629e-04 - val_accuracy: 1.0000
Epoch 5/100
250/250 [==============================] - 1s 6ms/step - loss: 1.4606e-04 - accuracy: 1.0000 - val_loss: 1.1586e-04 - val_accuracy: 1.0000
Epoch 6/100
250/250 [==============================] - 1s 6ms/step - loss: 9.4625e-05 - accuracy: 1.0000 - val_loss: 7.8328e-05 - val_accuracy: 1.0000
Epoch 7/100
250/250 [==============================] - 1s 6ms/step - loss: 6.5577e-05 - accuracy: 1.0000 - val_loss: 5.5665e-05 - val_accuracy: 1.0000
Epoch 8/100
250/250 [==============================] - 2s 8ms/step - loss: 4.7596e-05 - accuracy: 1.0000 - val_loss: 4.1218e-05 - val_accuracy: 1.0000
Epoch 9/100
250/250 [==============================] - 2s 6ms/step - loss: 3.5717e-05 - accuracy: 1.0000 - val_loss: 3.1392e-05 - val_accuracy: 1.0000
Epoch 10/100
250/250 [==============================] - 2s 7ms/step - loss: 2.7497e-05 - accuracy: 1.0000 - val_loss: 2.4455e-05 - val_accuracy: 1.0000
Epoch 11/100
250/250 [==============================] - 2s 6ms/step - loss: 2.1584e-05 - accuracy: 1.0000 - val_loss: 1.9367e-05 - val_accuracy: 1.0000
Epoch 12/100
250/250 [==============================] - 2s 7ms/step - loss: 1.7204e-05 - accuracy: 1.0000 - val_loss: 1.5566e-05 - val_accuracy: 1.0000
Epoch 13/100
250/250 [==============================] - 2s 8ms/step - loss: 1.3893e-05 - accuracy: 1.0000 - val_loss: 1.2633e-05 - val_accuracy: 1.0000
Epoch 14/100
250/250 [==============================] - 2s 6ms/step - loss: 1.1334e-05 - accuracy: 1.0000 - val_loss: 1.0362e-05 - val_accuracy: 1.0000
Epoch 15/100
250/250 [==============================] - 2s 6ms/step - loss: 9.3289e-06 - accuracy: 1.0000 - val_loss: 8.5765e-06 - val_accuracy: 1.0000
Epoch 16/100
250/250 [==============================] - 2s 7ms/step - loss: 7.7318e-06 - accuracy: 1.0000 - val_loss: 7.1307e-06 - val_accuracy: 1.0000
Epoch 17/100
250/250 [==============================] - 2s 7ms/step - loss: 6.4482e-06 - accuracy: 1.0000 - val_loss: 5.9757e-06 - val_accuracy: 1.0000
Epoch 18/100
250/250 [==============================] - 1s 6ms/step - loss: 5.4056e-06 - accuracy: 1.0000 - val_loss: 5.0153e-06 - val_accuracy: 1.0000
Epoch 19/100
250/250 [==============================] - 2s 6ms/step - loss: 4.5531e-06 - accuracy: 1.0000 - val_loss: 4.2339e-06 - val_accuracy: 1.0000
Epoch 20/100
250/250 [==============================] - 2s 7ms/step - loss: 3.8498e-06 - accuracy: 1.0000 - val_loss: 3.5890e-06 - val_accuracy: 1.0000
Epoch 21/100
250/250 [==============================] - 2s 7ms/step - loss: 3.2667e-06 - accuracy: 1.0000 - val_loss: 3.0498e-06 - val_accuracy: 1.0000
Epoch 22/100
250/250 [==============================] - 2s 7ms/step - loss: 2.7793e-06 - accuracy: 1.0000 - val_loss: 2.6003e-06 - val_accuracy: 1.0000
Epoch 23/100
250/250 [==============================] - 2s 6ms/step - loss: 2.3711e-06 - accuracy: 1.0000 - val_loss: 2.2198e-06 - val_accuracy: 1.0000
Epoch 24/100
250/250 [==============================] - 2s 6ms/step - loss: 2.0270e-06 - accuracy: 1.0000 - val_loss: 1.9011e-06 - val_accuracy: 1.0000
Epoch 25/100
250/250 [==============================] - 2s 6ms/step - loss: 1.7365e-06 - accuracy: 1.0000 - val_loss: 1.6309e-06 - val_accuracy: 1.0000
Epoch 26/100
250/250 [==============================] - 2s 8ms/step - loss: 1.4899e-06 - accuracy: 1.0000 - val_loss: 1.4003e-06 - val_accuracy: 1.0000
Epoch 27/100
250/250 [==============================] - 2s 7ms/step - loss: 1.2805e-06 - accuracy: 1.0000 - val_loss: 1.2057e-06 - val_accuracy: 1.0000
Epoch 28/100
250/250 [==============================] - 2s 7ms/step - loss: 1.1020e-06 - accuracy: 1.0000 - val_loss: 1.0387e-06 - val_accuracy: 1.0000
Epoch 29/100
250/250 [==============================] - 2s 7ms/step - loss: 9.4943e-07 - accuracy: 1.0000 - val_loss: 8.9490e-07 - val_accuracy: 1.0000
Epoch 30/100
250/250 [==============================] - 1s 6ms/step - loss: 8.1890e-07 - accuracy: 1.0000 - val_loss: 7.7314e-07 - val_accuracy: 1.0000
Epoch 31/100
250/250 [==============================] - 2s 7ms/step - loss: 7.0706e-07 - accuracy: 1.0000 - val_loss: 6.6795e-07 - val_accuracy: 1.0000
Epoch 32/100
250/250 [==============================] - 2s 6ms/step - loss: 6.1108e-07 - accuracy: 1.0000 - val_loss: 5.7761e-07 - val_accuracy: 1.0000
Epoch 33/100
250/250 [==============================] - 2s 7ms/step - loss: 5.2850e-07 - accuracy: 1.0000 - val_loss: 5.0004e-07 - val_accuracy: 1.0000
Epoch 34/100
250/250 [==============================] - 2s 6ms/step - loss: 4.5748e-07 - accuracy: 1.0000 - val_loss: 4.3277e-07 - val_accuracy: 1.0000
Epoch 35/100
250/250 [==============================] - 2s 7ms/step - loss: 3.9616e-07 - accuracy: 1.0000 - val_loss: 3.7507e-07 - val_accuracy: 1.0000
Epoch 36/100
250/250 [==============================] - 2s 7ms/step - loss: 3.4338e-07 - accuracy: 1.0000 - val_loss: 3.2544e-07 - val_accuracy: 1.0000
Epoch 37/100
250/250 [==============================] - 1s 6ms/step - loss: 2.9780e-07 - accuracy: 1.0000 - val_loss: 2.8254e-07 - val_accuracy: 1.0000
Epoch 38/100
250/250 [==============================] - 2s 6ms/step - loss: 2.5837e-07 - accuracy: 1.0000 - val_loss: 2.4527e-07 - val_accuracy: 1.0000
Epoch 39/100
250/250 [==============================] - 2s 6ms/step - loss: 2.2429e-07 - accuracy: 1.0000 - val_loss: 2.1318e-07 - val_accuracy: 1.0000
Epoch 40/100
250/250 [==============================] - 2s 8ms/step - loss: 1.9480e-07 - accuracy: 1.0000 - val_loss: 1.8504e-07 - val_accuracy: 1.0000
Epoch 41/100
250/250 [==============================] - 2s 6ms/step - loss: 1.6926e-07 - accuracy: 1.0000 - val_loss: 1.6107e-07 - val_accuracy: 1.0000
Epoch 42/100
250/250 [==============================] - 2s 6ms/step - loss: 1.4713e-07 - accuracy: 1.0000 - val_loss: 1.4002e-07 - val_accuracy: 1.0000
Epoch 43/100
250/250 [==============================] - 2s 6ms/step - loss: 1.2796e-07 - accuracy: 1.0000 - val_loss: 1.2181e-07 - val_accuracy: 1.0000
Epoch 44/100
250/250 [==============================] - 2s 8ms/step - loss: 1.1133e-07 - accuracy: 1.0000 - val_loss: 1.0613e-07 - val_accuracy: 1.0000
Epoch 45/100
250/250 [==============================] - 2s 6ms/step - loss: 9.6866e-08 - accuracy: 1.0000 - val_loss: 9.2378e-08 - val_accuracy: 1.0000
Epoch 46/100
250/250 [==============================] - 2s 7ms/step - loss: 8.4345e-08 - accuracy: 1.0000 - val_loss: 8.0416e-08 - val_accuracy: 1.0000
Epoch 47/100
250/250 [==============================] - 2s 6ms/step - loss: 7.3457e-08 - accuracy: 1.0000 - val_loss: 7.0128e-08 - val_accuracy: 1.0000
Epoch 48/100
250/250 [==============================] - 2s 6ms/step - loss: 6.4027e-08 - accuracy: 1.0000 - val_loss: 6.1166e-08 - val_accuracy: 1.0000
Epoch 49/100
250/250 [==============================] - 2s 7ms/step - loss: 5.5844e-08 - accuracy: 1.0000 - val_loss: 5.3382e-08 - val_accuracy: 1.0000
Epoch 50/100
250/250 [==============================] - 1s 6ms/step - loss: 4.8736e-08 - accuracy: 1.0000 - val_loss: 4.6612e-08 - val_accuracy: 1.0000
Epoch 51/100
250/250 [==============================] - 2s 6ms/step - loss: 4.2560e-08 - accuracy: 1.0000 - val_loss: 4.0753e-08 - val_accuracy: 1.0000
Epoch 52/100
250/250 [==============================] - 2s 7ms/step - loss: 3.7187e-08 - accuracy: 1.0000 - val_loss: 3.5626e-08 - val_accuracy: 1.0000
Epoch 53/100
250/250 [==============================] - 2s 7ms/step - loss: 3.2516e-08 - accuracy: 1.0000 - val_loss: 3.1214e-08 - val_accuracy: 1.0000
Epoch 54/100
250/250 [==============================] - 2s 6ms/step - loss: 2.8478e-08 - accuracy: 1.0000 - val_loss: 2.7364e-08 - val_accuracy: 1.0000
Epoch 55/100
250/250 [==============================] - 2s 7ms/step - loss: 2.4962e-08 - accuracy: 1.0000 - val_loss: 2.4010e-08 - val_accuracy: 1.0000
Epoch 56/100
250/250 [==============================] - 2s 10ms/step - loss: 2.1928e-08 - accuracy: 1.0000 - val_loss: 2.1128e-08 - val_accuracy: 1.0000
Epoch 57/100
250/250 [==============================] - 2s 9ms/step - loss: 1.9295e-08 - accuracy: 1.0000 - val_loss: 1.8606e-08 - val_accuracy: 1.0000
Epoch 58/100
250/250 [==============================] - 2s 8ms/step - loss: 1.7029e-08 - accuracy: 1.0000 - val_loss: 1.6450e-08 - val_accuracy: 1.0000
Epoch 59/100
250/250 [==============================] - 3s 10ms/step - loss: 1.5044e-08 - accuracy: 1.0000 - val_loss: 1.4569e-08 - val_accuracy: 1.0000
Epoch 60/100
250/250 [==============================] - 2s 9ms/step - loss: 1.3334e-08 - accuracy: 1.0000 - val_loss: 1.2931e-08 - val_accuracy: 1.0000
Epoch 61/100
250/250 [==============================] - 2s 9ms/step - loss: 1.1841e-08 - accuracy: 1.0000 - val_loss: 1.1495e-08 - val_accuracy: 1.0000
Epoch 62/100
250/250 [==============================] - 3s 10ms/step - loss: 1.0531e-08 - accuracy: 1.0000 - val_loss: 1.0271e-08 - val_accuracy: 1.0000
Epoch 63/100
250/250 [==============================] - 2s 8ms/step - loss: 9.3930e-09 - accuracy: 1.0000 - val_loss: 9.1748e-09 - val_accuracy: 1.0000
Epoch 64/100
250/250 [==============================] - 2s 8ms/step - loss: 8.4081e-09 - accuracy: 1.0000 - val_loss: 8.2299e-09 - val_accuracy: 1.0000
Epoch 65/100
250/250 [==============================] - 2s 7ms/step - loss: 7.5501e-09 - accuracy: 1.0000 - val_loss: 7.3967e-09 - val_accuracy: 1.0000
Epoch 66/100
250/250 [==============================] - 2s 6ms/step - loss: 6.7866e-09 - accuracy: 1.0000 - val_loss: 6.6582e-09 - val_accuracy: 1.0000
Epoch 67/100
250/250 [==============================] - 2s 7ms/step - loss: 6.1119e-09 - accuracy: 1.0000 - val_loss: 6.0186e-09 - val_accuracy: 1.0000
Epoch 68/100
250/250 [==============================] - 1s 6ms/step - loss: 5.5276e-09 - accuracy: 1.0000 - val_loss: 5.4580e-09 - val_accuracy: 1.0000
Epoch 69/100
250/250 [==============================] - 2s 7ms/step - loss: 5.0240e-09 - accuracy: 1.0000 - val_loss: 4.9666e-09 - val_accuracy: 1.0000
Epoch 70/100
250/250 [==============================] - 2s 6ms/step - loss: 4.5590e-09 - accuracy: 1.0000 - val_loss: 4.5298e-09 - val_accuracy: 1.0000
Epoch 71/100
250/250 [==============================] - 2s 7ms/step - loss: 4.1668e-09 - accuracy: 1.0000 - val_loss: 4.1435e-09 - val_accuracy: 1.0000
Epoch 72/100
250/250 [==============================] - 1s 5ms/step - loss: 3.8077e-09 - accuracy: 1.0000 - val_loss: 3.7978e-09 - val_accuracy: 1.0000
Epoch 73/100
250/250 [==============================] - 2s 7ms/step - loss: 3.4798e-09 - accuracy: 1.0000 - val_loss: 3.4795e-09 - val_accuracy: 1.0000
Epoch 74/100
250/250 [==============================] - 1s 6ms/step - loss: 3.2039e-09 - accuracy: 1.0000 - val_loss: 3.1882e-09 - val_accuracy: 1.0000
Epoch 75/100
250/250 [==============================] - 2s 9ms/step - loss: 2.9287e-09 - accuracy: 1.0000 - val_loss: 2.9410e-09 - val_accuracy: 1.0000
Epoch 76/100
250/250 [==============================] - 2s 9ms/step - loss: 2.6985e-09 - accuracy: 1.0000 - val_loss: 2.7208e-09 - val_accuracy: 1.0000
Epoch 77/100
250/250 [==============================] - 2s 8ms/step - loss: 2.5062e-09 - accuracy: 1.0000 - val_loss: 2.5175e-09 - val_accuracy: 1.0000
Epoch 78/100
250/250 [==============================] - 2s 7ms/step - loss: 2.3272e-09 - accuracy: 1.0000 - val_loss: 2.3425e-09 - val_accuracy: 1.0000
Epoch 79/100
250/250 [==============================] - 3s 10ms/step - loss: 2.1650e-09 - accuracy: 1.0000 - val_loss: 2.1734e-09 - val_accuracy: 1.0000
Epoch 80/100
250/250 [==============================] - 2s 9ms/step - loss: 2.0043e-09 - accuracy: 1.0000 - val_loss: 2.0261e-09 - val_accuracy: 1.0000
Epoch 81/100
250/250 [==============================] - 2s 9ms/step - loss: 1.8644e-09 - accuracy: 1.0000 - val_loss: 1.8878e-09 - val_accuracy: 1.0000
Epoch 82/100
250/250 [==============================] - 2s 7ms/step - loss: 1.7413e-09 - accuracy: 1.0000 - val_loss: 1.7608e-09 - val_accuracy: 1.0000
Epoch 83/100
250/250 [==============================] - 2s 7ms/step - loss: 1.6190e-09 - accuracy: 1.0000 - val_loss: 1.6540e-09 - val_accuracy: 1.0000
Epoch 84/100
250/250 [==============================] - 2s 7ms/step - loss: 1.5270e-09 - accuracy: 1.0000 - val_loss: 1.5502e-09 - val_accuracy: 1.0000
Epoch 85/100
250/250 [==============================] - 2s 9ms/step - loss: 1.4286e-09 - accuracy: 1.0000 - val_loss: 1.4566e-09 - val_accuracy: 1.0000
Epoch 86/100
250/250 [==============================] - 1s 6ms/step - loss: 1.3363e-09 - accuracy: 1.0000 - val_loss: 1.3727e-09 - val_accuracy: 1.0000
Epoch 87/100
250/250 [==============================] - 2s 7ms/step - loss: 1.2720e-09 - accuracy: 1.0000 - val_loss: 1.2990e-09 - val_accuracy: 1.0000
Epoch 88/100
250/250 [==============================] - 3s 11ms/step - loss: 1.2064e-09 - accuracy: 1.0000 - val_loss: 1.2332e-09 - val_accuracy: 1.0000
Epoch 89/100
250/250 [==============================] - 2s 10ms/step - loss: 1.1397e-09 - accuracy: 1.0000 - val_loss: 1.1759e-09 - val_accuracy: 1.0000
Epoch 90/100
250/250 [==============================] - 2s 9ms/step - loss: 1.0918e-09 - accuracy: 1.0000 - val_loss: 1.1327e-09 - val_accuracy: 1.0000
Epoch 91/100
250/250 [==============================] - 1s 6ms/step - loss: 1.0555e-09 - accuracy: 1.0000 - val_loss: 1.0884e-09 - val_accuracy: 1.0000
Epoch 92/100
250/250 [==============================] - 2s 7ms/step - loss: 1.0139e-09 - accuracy: 1.0000 - val_loss: 1.0471e-09 - val_accuracy: 1.0000
Epoch 93/100
250/250 [==============================] - 2s 6ms/step - loss: 9.7014e-10 - accuracy: 1.0000 - val_loss: 1.0081e-09 - val_accuracy: 1.0000
Epoch 94/100
250/250 [==============================] - 2s 7ms/step - loss: 9.3215e-10 - accuracy: 1.0000 - val_loss: 9.7051e-10 - val_accuracy: 1.0000
Epoch 95/100
250/250 [==============================] - 2s 6ms/step - loss: 9.0644e-10 - accuracy: 1.0000 - val_loss: 9.3598e-10 - val_accuracy: 1.0000
Epoch 96/100
250/250 [==============================] - 2s 7ms/step - loss: 8.6892e-10 - accuracy: 1.0000 - val_loss: 9.0619e-10 - val_accuracy: 1.0000
Epoch 97/100
250/250 [==============================] - 2s 7ms/step - loss: 8.4462e-10 - accuracy: 1.0000 - val_loss: 8.7901e-10 - val_accuracy: 1.0000
Epoch 98/100
250/250 [==============================] - 1s 6ms/step - loss: 8.1290e-10 - accuracy: 1.0000 - val_loss: 8.5043e-10 - val_accuracy: 1.0000
Epoch 99/100
250/250 [==============================] - 2s 6ms/step - loss: 7.9174e-10 - accuracy: 1.0000 - val_loss: 8.2390e-10 - val_accuracy: 1.0000
Epoch 100/100
250/250 [==============================] - 2s 6ms/step - loss: 7.6452e-10 - accuracy: 1.0000 - val_loss: 7.9994e-10 - val_accuracy: 1.0000

In [26]:
model.save("model.h5")

d:\MyLearning\annclassification\env\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

Load the tensorboard extension

In [27]:
%load_ext tensorboard

In [30]:
%tensorboard --logdir logs/20240815-111455/

Reusing TensorBoard on port 6007 (pid 11256), started 0:00:49 ago. (Use '!kill 11256' to kill it.)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumofProducts,HasCrCard,IsActiveMember,Estimated Salary
0,600,France,Male,40,3,60000,2,1,1,50000

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

   Geography_France
0               1.0

In [50]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumofProducts,HasCrCard,IsActiveMember,Estimated Salary
0,600,France,1,40,3,60000,2,1,1,50000

,CreditScore,Gender,Age,Tenure,Balance,NumofProducts,HasCrCard,IsActiveMember,Estimated Salary,Geography_France,Geography_Germany,Geography_Spain
0,600.0,1.0,40.0,3.0,60000.0,2.0,1,1.0,50000.0,1.0,0.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0
9996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0
9997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0
9998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0
9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- Estimated Salary
- Geography_Spain
- NumofProducts
Feature names seen at fit time, yet now missing:
- EstimatedSalary
- Exited
- NumOfProducts